<li class="list-group-item">
  <div class="form-check">
    <%= render radio_button_component %>
    <div>
      <small class="text-muted">
        <%= t('requests.form.options.electronic.info_html', url: t('urls.guides.scan')) %>
      </small>
    </div>
  </div>
</li>