pennlibs_web_version: '1.1.0'
app_host: 'localhost:3000'
cleanup:
  searches:
    days_old: 4
  guest_users:
    days_old: 4
    batch_size: 1000
alma:
  sru_endpoint: 'https://na03.alma.exlibrisgroup.com/view/sru/01UPENN_INST'
  api_key: <%= DockerSecrets.lookup(:alma_api_key, Rails.application.credentials.alma_api_key) %>
  work_order_role_value: '214'
illiad:
  base_url: 'https://illiad.library.upenn.edu/ILLiadWebPlatform'
  api_key: <%= DockerSecrets.lookup(:illiad_api_key, Rails.application.credentials.illiad_api_key) %>
  legacy_user_password: <%= DockerSecrets.lookup(:illiad_legacy_user_password, Rails.application.credentials.illiad_legacy_user_password) %>
  blocked_user_values:
    - B
    - BO
    - DIS
    - BX
aeon:
  requesting_url: 'https://aeon.library.upenn.edu/logon?Action=10&Form=30&'
hathi:
  base_url: 'https://catalog.hathitrust.org/api/volumes/brief/json'
alert_webhooks_token: <%= DockerSecrets.lookup(:alert_webhooks_token, Rails.application.credentials.alert_webhooks_token) %>
google_analytics:
  id: ~
honeybadger:
  api_key: '12345'
redis:
  url: <%= ENV['REDIS_URL'] %>
  username: <%= ENV['REDIS_SIDEKIQ_USER'] %>
  password: <%= DockerSecrets.lookup(:catalog_find_redis_sidekiq_password) %>
email:
  from_address: 'find-noreply@upenn.edu'
  smtp:
    url: 'mailrelay.library.upenn.int'
    port: 25
    domain: 'upenn.edu'
library:
  undesirable_holdings:
    - 'AthLib'
    - 'HSPLib'
  info:
    base_url: 'https://www.library.upenn.edu/api/v1/libraries'
    api_key: <%= DockerSecrets.lookup(:library_info_api_key, Rails.application.credentials.library_info_api_key) %>
cataloging_errors:
  email: 'fixopac@pobox.upenn.edu'