version: "3.8"

services:
  chrome:
    image: ${CHROME_IMAGE_NAME}:${CHROME_IMAGE_TAG}
    environment:
      # By default, it uses 3000, which is typically used by Rails.
      PORT: ${CHROME_PORT}
      CONCURRENT: 1
      TIMEOUT: 1200000 # 20min should cover the system test run period
    # Mount application source code to support file uploading
    # (otherwise Chrome won't be able to find files).
    # NOTE: Make sure you use absolute paths in `#attach_file`
    ports:
      - target: ${CHROME_PORT}
        published: ${CHROME_PORT}
        mode: host
    volumes:
      - /catalog-find/ansible/roles/catalog-find/files/src/:/home/app
    networks:
      - traefik

networks:
  traefik:
    external: true
