<li class="list-group-item">
  <%= radio_button_tag :options, 'mail' %>
  <%= label_tag :options_mail, 'Books by Mail' %>
  <p>
    Users must <a href='https://upenn.libwizard.com/f/books-by-mail' target='_blank'>register for Books by Mail</a>
    before submitting requests.
  </p>
  <p>
    <%= check_box_tag :bbm_validation, { required: true } %>
    <%= label_tag :bbm_validation, 'I am a registered Books by Mail user' %>
  </p>
</li>
