<%= turbo_frame_tag 'creator_suggest' do %>
    <ul class="list-unstyled">
      <% results.each do |row| %>
        <li>
          <span class="text-muted">It seems you're searching for an author: “<%= row[:person] %>”</span>
          <ul>
            <% row[:creators].each do |creator| %>
              <li>
                <%= link_to creator.name, search_catalog_path({ "f[creator_facet][]": creator.name }), data: { turbo: false } %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
