<%
  # Copied from Blacklight v9.0
  # See flash_message_component for reasoning.
%>

<% if flash.any? %>
  <div class="flash_messages" data-controller="flash-messages">
    <% [:success, :notice, :error, :alert].each do |type| %>
      <%= render(Catalog::FlashMessageComponent.with_collection(Array.wrap(flash[type]), type: type)) if flash[type] %>
    <% end %>
  </div>
<% end %>