<p class="inventory-item__availability inventory-item__availability--primary">
  <span class="inventory-item__main"><%= entry.description %></span>
  <span class="inventory-item__policy"><%= entry.status %></span>
</p>

<a href="<%= entry.href %>" class="btn btn-success"><%= entry.description %></a>
