<p class="document-inventory">
  <span class="inventory-item__header"><%= entry.location %></span>
</p>
<p class="inventory-item__availability--easy inventory-item__availability-summary">
  <span class="inventory-item__status"><%= entry.human_readable_status %></span>
</p>
<a class="btn btn-success btn-lg" href="<%= entry.href %>" role="button" target="_blank">
  <%= entry.description %>
</a>