<div class="login__container">
  <h1 class="page__heading">Log in</h1>
  <p class="page__lede">Access your library account and Find.</p>
  <div class="login__options" data-turbo="false">
    <%= button_to t('login.pennkey'), user_saml_omniauth_authorize_path, class: 'pl-button pl-button--accent' %>
    <span>Or</span>
    <%= button_to t('login.alma.name'), user_alma_omniauth_authorize_path,  class: 'pl-button' %>
    <% if Rails.env.development? %>
      <span>Or</span>
      <%= button_to t('login.developer'), user_developer_omniauth_authorize_path, class: 'pl-button' %>
    <% end %>
  </div>
</div>