<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Find</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/account">Account</a></li>
  </ol>
</nav>

<h1 class="page__heading">Account Overview</h1>
<p class="page__lede mb-4">View loans and requests on your shelf, change your mailing address and account preferences, manage your bookmarked items, and pay fines.</p>

<!-- TODO: Move this content to each page.
<%= render Account::Profile::DetailsComponent.new(user: current_user) %>
-->

<div class="row">
  <div class="col-lg-3 col-sm-6">
    <div class="card mb-3">
      <div class="card-body">
        <span class="d-flex justify-content-between"><h2 class="card-title h4">Shelf</h2><i class="bi bi-book h4"></i></span>
        <p class="card-text">Renew items you've loaned or requested and see when they're due.</p>
        <a href="#" class="btn btn-primary">Loans and requests</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card mb-3">
      <div class="card-body">
        <span class="d-flex justify-content-between"><h2 class="card-title h4">Settings</h2><i class="bi bi-gear h4"></i></span>
        <p class="card-text">Change your books by mail address and update account preferences.</p>
        <a href="#" class="btn btn-primary">Account settings</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card mb-3">
      <div class="card-body">
        <span class="d-flex justify-content-between"><h2 class="card-title h4">Bookmarks</h2><i class="bi bi-bookmark h4"></i></span>
        <p class="card-text">Email and create citations from your list of bookmarked items.</p>
        <a href="#" class="btn btn-primary">Bookmarks</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card mb-3">
      <div class="card-body">
        <span class="d-flex justify-content-between"><h2 class="card-title h4">Fines and fees</h2><i class="bi bi-currency-dollar h4"></i></span>
        <p class="card-text">Pay fines for lost or damanged items. We do not charge overdue fees.</p>
        <a href="#" class="btn btn-primary">Pay fines</a>
      </div>
    </div>
  </div>
</div>