<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Find</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/account">Account</a></li>
  </ol>
</nav>

<h1 class="page__heading">Account Overview</h1>
<p class="page__lede mb-4">Renew items on your shelf, change your account preferences, manage your bookmarked items, and pay fines.</p>

<!-- TODO: Move this content to each page.
<%= render Account::Profile::DetailsComponent.new(user: current_user) %>
-->

<div class="row cards-as-links">
  <div class="col-lg-3 col-sm-6">
    <a href="/account/shelf" class="card mb-3">
      <div class="card-body">
        <span class="d-flex justify-content-between"><h2 class="card-title h5">Shelf</h2><i class="bi bi-book h4 mb-0"></i></span>
        <p class="card-text">Renew items you've loaned or requested and see when they're due.</p>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-sm-6">
    <a href="/account/settings" class="card mb-3">
      <div class="card-body">
        <span class="d-flex justify-content-between"><h2 class="card-title h5">Settings</h2><i class="bi bi-gear h4 mb-0"></i></span>
        <p class="card-text">Change your books by mail address and update account preferences.</p>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-sm-6">
    <a href="/account/bookmarks" class="card mb-3">
      <div class="card-body">
        <span class="d-flex justify-content-between"><h2 class="card-title h5">Bookmarks</h2><i class="bi bi-bookmark h4 mb-0"></i></span>
        <p class="card-text">Email and create citations from your list of bookmarked items.</p>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-sm-6">
    <a href="/account/fines-and-fees" class="card mb-3">
      <div class="card-body">
        <span class="d-flex justify-content-between"><h2 class="card-title h5">Fines and fees</h2><i class="bi bi-currency-dollar h4 mb-0"></i></span>
        <p class="card-text">Pay fines for lost or damanged items. We do not charge overdue fees.</p>
      </div>
    </a>
  </div>
</div>