.toggle-bookmark-label {
  display: flex;
  gap: var(--pl-space-2xs);
  justify-content: flex-end;
}

.bookmarksTools {
  margin-bottom: var(--pl-space-l);
}

.bookmark-toggle .toggle-bookmark .toggle-bookmark-label {
  min-width: auto;
}