.constraints-container {
  align-items: baseline;
  gap: var(--pl-space-sm);
  margin: 0.5rem 0 !important;
  align-self: end;

  --bl-constraint-remove-hover-bg: var(--pl-color-bg-subtle);

  & .catalog_startOverLink,
  & .catalog_startOverLink ~ .btn {
    display: none;
  }
}

.constraints-container > h2 {
  font-size: var(--pl-font-size-base);
  font-family: var(--pl-font-family);
  font-weight: 500;
  color: var(--pl-color-fg-default);
  margin: 0;

  &::after {
    content: none;
  }
}

.constraint {
  position: relative;
  margin: 0 !important;

  & .btn {
    border: none;
  }

  & .remove {
    position: static;
    padding-left: var(--pl-space-2xs) !important;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: var(--pl-border-radius-base);
    }

    &:hover {
      &::after {
        border: 1px solid var(--pl-color-fg-subtle);
      }
    }

    &:active {
      color: var(--pl-color-fg-default);
    }

    & .bi {
      height: 0.875em;
      width: 0.875em;
    }

    & .blacklight-icons-remove {
      margin-bottom: 0.025em;
    }
  }

  & .filter-name {
    display: none;
  }

  & .constraint-value {
    display: flex;
    align-items: center;
    --bs-btn-padding-y: var(--pl-space-xs);
    padding-right: var(--pl-space-sm);
    font-weight: 500;
  }
}