/*
* Blacklight document/search result customizations
*/

/* Document counter */
.document-counter {
  font-size: 1rem;
  color: var(--pl-color-fg-subtle);
}

/* Document list */
.documents-list .document {
  padding-top: 0;
  margin-bottom: var(--pl-space-l);
  border-bottom: none;

  & .pl-dl--inline {
    margin-bottom: var(--pl-space-xs);

    & dt:not(:first-of-type)::before {
      margin-bottom: 0.25rem;
    }

    & dd {
      &::after {
        content: " ·";
        padding-left: var(--pl-space-xs);
      }
    }
    
    /* if a dd has a dt that follows, don't render the delineator */
    & dd:has(+ dt) {
      &::after {
        all: unset;
      }
    }
    
    /* no delineator for last dl child */
    & > *:last-child::after {
      all: unset;
    }
  }
}

.documents-list .document .document-title-heading {
  margin-bottom: var(--pl-space-xs);
  font-size: var(--pl-font-size-xl);
}

.documents-list .document .document-title-heading a {
  text-decoration: none;
  font-weight: 600;
}

.documents-list .document .document-title-heading a:hover {
  text-decoration: underline;
}

/* Document metadata - visually hidden labels in list view */
.documents-list .document-metadata dt {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.documents-list .document-metadata dd {
  color: var(--pl-color-fg-subtle);
}

.documents-list .document-metadata ul {
  list-style: none;
}

/* Document metadata - detail view */
.document-metadata.row {
  margin: 0;
  display: block;
}

.document-metadata dt {
  display: block;
  width: 100%;
  font-size: 0.875em;
  letter-spacing: 0.025em;
  font-weight: 600;
  text-align: left;
  padding: 0;
}

.document-metadata dt:not(:first-of-type) {
  padding-top: 1rem;
}

.document-metadata dd {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.document-metadata ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: "- ";
}

.document-metadata ul ::marker {
  color: var(--pl-color-fg-subtle);
}
