.flash_messages {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;

  display: flex;
  flex-direction: column;
  gap: var(--pl-space-s);
  margin-bottom: var(--pl-space-l);

  & .alert {
    margin-bottom: 0;
  }

  &:empty {
    display: none;
  }
}