.navbar-search {
  background: var(--color-bg-gradient-2);
  padding: 1.5rem 0;
  margin-bottom: 0.5rem;
}

.navbar-search > .container {
  justify-content: center;
  gap: 1.5rem;

  @media (min-width: 620px) {
    flex-wrap: nowrap;
  }
}

.navbar-search a {
  color: var(--color-fg-default);
  text-decoration: underline;
  text-underline-offset: .15em;
  text-decoration-color: var(--color-fg-subtle);
}

.navbar-search a:hover {
  text-decoration-thickness: 2px;
}

.navbar-search .search-query-form {
  display: flex;
  font-size: 1.125rem;
  box-shadow: rgba(140, 149, 159, 0.2) 0px 3px 6px 0px;
  flex-grow: 1;
  width: auto;

  @media (max-width: 620px) {
    width: 100%;
  }
}

.search-q {
  all: unset;
  background: var(--color-bg-default);
  padding: 0 1rem;
  border-radius: 0.25rem 0 0 0.25rem !important;
  color: var(--color-fg-default);
  border: solid 1px var(--color-fg-subtle);
  border-right: none;
  flex-grow: 1;
}

.search-btn {
  all: unset;
  background: var(--color-bg-accent-emphasis);
  color: var(--color-fg-on-emphasis);
  padding: 0.5rem 1.5rem;
  border-radius: 0 0.25rem 0.25rem 0;
  cursor: pointer;
  border: solid 1px var(--color-fg-subtle);
}

.navbar-search *:focus {
  box-shadow: 0 0 0 2px var(--color-bg-attention),0 0 0 4px var(--color-fg-default);
}

.index_title > a {
  color: var(--color-fg-accent);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: .15em;
}

.index_title > a:hover {
  text-decoration-thickness: 2px;
}

.facet-limit-active .card-header .btn,
.facet-limit-active .card-header .btn:active {
  background: var(--color-fg-success);
  color: var(--color-fg-on-emphasis);
}

.facet-limit-active .card-header .btn:hover {
  border: none;
}

.facet-limit-active .card-header .btn {
  border: none;
}

.document-counter {
  font-size: 1rem;
  color: var(--color-fg-subtle);
}

.documents-list .document {
  border-bottom-style: solid;
  padding-top: 0;
  margin-bottom: 1rem;
}

.documents-list .document .document-title-heading {
  margin-bottom: 0.25rem;
  font-size: 1.35rem;
}

.documents-list .document-metadata dt {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.documents-list .document-metadata dd {
  color: var(--color-fg-subtle);
}

.documents-list .blacklight-format_facet {
  font-weight: 500;
}

.document-metadata.row {
  margin: 0;
  display: block;
}

.document-metadata dt {
  display: block;
  width: 100%;
  font-size: 0.875em;
  letter-spacing: 0.025em;
  font-weight: 600;
  text-align: left;
  padding: 0;
}

.document-metadata dt:not(:first-of-type) {
  padding-top: 1rem;
}

.document-metadata dd {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.document-metadata ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: "- ";
}

.documents-list .document-metadata ul {
  list-style: none;
}

.document-metadata ul ::marker {
  color: var(--color-fg-subtle);
}

pennlibs-footer {
  display: block;
}

.site-feedback {
  background: var(--color-bg-subtle);
  padding: 2rem 0;
  margin-top: 3rem;
}

.site-feedback a {
  color: var(--color-fg-accent);
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: .15em;
  text-decoration-color: var(--color-fg-accent);
}

.site-feedback a:hover {
  text-decoration-thickness: 2px;
}

.site-feedback p {
  max-width: 60ch;
  margin-bottom: 0;
}

.site-feedback i {
  font-size: 1.5rem;
  color: var(--color-fg-subtle);
}

label.toggle-bookmark {
  min-width: auto;
}

.page__heading {
  display: block;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 1rem;
}

.page__lede {
  font-size: 1.2rem;
  max-width: 52ch;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
}

form {
  --bs-border-color: var(--color-fg-subtle);
}

.constraints-container {
  margin-bottom: 1rem !important;
  gap: 0.5rem;
}

.facets-header,
.facets-heading {
  margin: 0;
  padding: 0;
}

.facets-heading {
  font-size: 1.25rem;
  margin: 0.25rem 0;
}

.facet-limit {
  margin-bottom: 0.5rem;
}

.facet-field-heading > .btn {
  padding: 0.5rem 0.75rem !important;
}

.facet-content .card-body {
  padding: 0.5rem 0.75rem;
}

.sort-pagination {
  justify-content: baseline;
}

.applied-filter,
.search-widgets > * {
  margin: 0 !important;
}

.search-widgets {
  gap: 0.5rem;
}

.page__heading {
  display: block;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 1rem;
}

.page__lede {
  font-size: 1.2rem;
  margin-bottom: 0;
  max-width: 52ch;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
}

form {
  --bs-border-color: var(--color-fg-subtle);
}

.form-group--error {
  padding-left: 0.75rem;
  border-left: solid 0.25rem var(--color-fg-attention);
}

.form-group__error-text {
  color: var(--color-fg-attention);
  font-weight: 600;
  margin-bottom: 0;
}

.form-group--error input {
  border-color: var(--color-fg-attention);
  border-width: 2px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.cards-as-links a.card {
  display: block;
  text-decoration: none;
}

.cards-as-links a.card:hover {
  background: var(--color-info-bg);
  --bs-card-border-color: var(--color-fg-default);
}

.cards-as-links a.card:hover .card-title  {
  text-decoration: underline;
  text-underline-offset: 0.15em;
}