/*
* Bootstrap pagination customizations
*/

.pagination {
  --bs-pagination-padding-x: var(--pl-space-s);
  --bs-pagination-padding-y: var(--pl-space-xs);
  --bs-pagination-color: var(--pl-color-fg-accent);
  --bs-pagination-bg: none;
  --bs-pagination-border-width: 0;
  --bs-pagination-border-color: var(--pl-color-fg-subtle);
  --bs-pagination-border-radius: var(--pl-border-radius);
  --bs-pagination-hover-color: var(--pl-color-fg-accent);
  --bs-pagination-hover-bg: var(--pl-color-bg-accent);
  --bs-pagination-hover-border-color: var(--pl-color-fg-subtle);
  --bs-pagination-focus-color: var(--pl-color-fg-default);
  --bs-pagination-focus-bg: var(--pl-color-bg-subtle);
  --bs-pagination-focus-box-shadow: var(--pl-focus-box-shadow);
  --bs-pagination-active-color: var(--pl-color-fg-on-emphasis);
  --bs-pagination-active-bg: var(--pl-color-bg-accent-emphasis);
  --bs-pagination-active-border-color: var(--pl-color-bg-accent-emphasis);
  --bs-pagination-disabled-color: var(--pl-color-fg-subtle);
  --bs-pagination-disabled-bg: transparent;
  --bs-pagination-disabled-border-color: var(--pl-color-fg-subtle);

  margin-bottom: 0;
  gap: var(--pl-space-2xs);

  & .page-link {
    border-radius: var(--pl-border-radius-subtle);

    &:hover {
      text-decoration: underline;
    }
  }

  & .page-item.disabled .page-link {
    text-decoration: none;
  }
}