.pagination {
  --bs-pagination-padding-x: var(--pl-space-m);
  --bs-pagination-padding-y: var(--pl-space-s);
  --bs-pagination-font-size: var(--pl-text-size-base);
  --bs-pagination-color: var(--pl-color-fg-default);
  --bs-pagination-bg: var(--pl-color-bg-subtle);
  --bs-pagination-border-width: 1px;
  --bs-pagination-border-color: var(--bs-border-color-translucent);
  --bs-pagination-border-radius: var(--pl-space-m);
  --bs-pagination-hover-color: var(--pl-color-fg-default);
  --bs-pagination-hover-bg: var(--pl-color-bg-subtle);
  --bs-pagination-hover-border-color: var(--pl-color-fg-subtle);
  --bs-pagination-focus-color: var(--pl-color-fg-default);
  --bs-pagination-focus-bg: var(--pl-color-bg-subtle);
  --bs-pagination-focus-box-shadow: var(--pl-focus-box-shadow);
  --bs-pagination-active-color: var(--pl-color-fg-on-emphasis);
  --bs-pagination-active-bg: var(--pl-color-bg-accent-emphasis);
  --bs-pagination-active-border-color: var(--pl-color-bg-accent-emphasis);
  --bs-pagination-disabled-color: var(--pl-color-fg-muted);
  --bs-pagination-disabled-bg: var(--pl-color-bg-subtle);
  --bs-pagination-disabled-border-color: var(--pl-color-fg-subtle);
}

/* TODO: this causes the leftmost "Next" button to not have rounded corners and look awkward */
.pagination .page-item.disabled {
  display: none;
}