.discover-penn {
  header {
    background: var(--color-bg-gradient-2);

    search {
      background: unset;

      @media (min-width: 768px) {
        max-width: 80%;
      }
    }
  }

  .card {
    &-header {
      background: unset;
      border: 0;
      margin: 0;
      padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x) 0;
    }

    &-body {
      padding-top: 0;
    }

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  .item-heading,
  .item-content dd.item-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .item-content .document-metadata {
    margin-bottom: 0;

    dd.item-description p {
      margin-bottom: 0;
    }

    dd.item-location {
      font-weight: 600;
    }
  }

  .item-content .item-thumbnail {
    width: 10rem;
    height: 10rem;
    padding-left: 0;
  }
}