.discover-penn {
  .item-heading,
  .item-content dd.item-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .item-content dd.item-repo {
    font-weight: 600;
  }

  .item-content .item-thumbnail {
    max-height: 190px;
  }
}