.discover-penn {
  // Line clamp
  @mixin line-clamp($lines) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    overflow: hidden;
  }

  // Bootstrap grid spacing values
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 1rem;
  --spacing-4: 2rem;
  --spacing-5: 3rem;

  --main-grid-spacing: var(--spacing-5);

  main {
    padding-top: 0;
  }

  .page-header {
    background: var(--color-bg-gradient-2);
    padding: var(--spacing-4) 0 var(--spacing-5);

    .search-query-form {
      font-size: 1.125rem;
      box-shadow: rgba(140, 149, 159, 0.2) 0px 3px 6px 0px;
      flex-grow: 1;

      @media (min-width: 768px) {
        max-width: 80%;
      }
    }
  }

  // Jump links
  .results-nav {
    margin: var(--main-grid-spacing) 0;

    .search-term {
      font-weight: 700;
      letter-spacing: .02rem;
    }

    .nav-item {
      display: inline-flex;
      align-items: center;
      margin: 0;
      padding: var(--spacing-2) var(--spacing-4) var(--spacing-1) 0;
    }

    .nav-link {
      padding: 0 0.4rem 0 0;
    }

    .results-count,
    .results-count::before,
    .results-count::after {
      color: var(--color-fg-subtle);
    }

    .results-count::before {
      content: " (";
    }

    .results-count::after {
      content: ")";
    }
  }

  // Results
  .results {
    --bs-gutter-x: var(--main-grid-spacing);

    .card {
      margin-bottom: var(--main-grid-spacing);
      scroll-margin-top: var(--spacing-4);

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        border-bottom: 0;
        padding: var(--spacing-3) var(--bs-card-spacer-x) var(--spacing-2) var(--bs-card-spacer-x);

        .card-title {
          display: flex;
          align-items: center;
          margin: 0;

          i {
            display: inline-flex;
            padding-right: var(--spacing-3);
          }
        }

        .btn {
          white-space: nowrap;
        }
      }

      &-body {
        .list-group-item {
          padding: var(--spacing-3) 0;

          &:first-child {
            padding-top: 0;
          }

          .item-heading {
            @include line-clamp(3);
            margin-bottom: var(--spacing-3);
          }

          .item-content {
            display: flex;

            dl.item-metadata {
              flex: 1;
              margin-bottom: 0;
              padding-right: var(--spacing-3);

              dd {
                margin-bottom: var(--spacing-2);

                &:last-child {
                  margin-bottom: 0;
                }
              }

              dd.item-description {
                @include line-clamp(3);
              }

              dd.item-description p {
                margin-bottom: 0;
              }

              dd.item-location {
                font-weight: 600;
              }
            }
          }

          .item-thumbnail {
            height: 9rem;
            width: 9rem;
            margin-top: var(--spacing-1);
            object-fit: cover;
          }
        }
      }
    }
  }
}