/*
* Find callout styles
*/

.callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid var(--bs-border-color);
  border-left-width: 0.25rem;
  border-radius: var(--pl-border-radius-subtle);
  border-left-color: var(--pl-color-fg-accent);
}

.callout > .bi {
  color: var(--pl-color-fg-accent);
  margin: 0;
}

.callout--info {
  border-left-color: var(--pl-color-fg-info);
}

.callout--success {
  border-left-color: var(--pl-color-fg-success);
}
