/*
* Find callout styles
*/

.callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid var(--bs-border-color);
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
  border-left-color: var(--pl-color-fg-accent);
}

.callout > .bi {
  color: var(--pl-color-fg-accent);
  margin: 0;
}
