/*
* Find facet customizations
*/

.facet-page-info {
  padding: var(--pl-space-xs) var(--pl-space-s);
  color: var(--pl-color-fg-muted);
}

.facet-nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--pl-space-xs);
}

.facet-nav-icon {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
}

.facet-multi-select {
  margin: var(--pl-space-s) var(--pl-space-m);
}

.facet-extended-list {
  margin-top: var(--pl-space-m);
  
  ul {
    padding: 0;
  }

  & li {
    padding: var(--pl-space-xs) var(--pl-space-m);
    border-radius: var(--pl-border-radius-subtle);
  }

  & li:nth-child(odd) {
    background: var(--pl-color-bg-subtle);
  }
}