/*
* Find fulfillment form styles
*/

.fulfillment-form .form-select {
  border-color: var(--pl-color-fg-subtle);
}

.fulfillment__summary {
  display: list-item;
  width: max-content;
}

.fulfillment__container {
  border-bottom: solid 1px var(--bs-border-color);
  border-top: solid 1px var(--bs-border-color);
  padding: 1rem 0;
  margin: 1rem 0;
}

/* Make the entire list-group-item clickable to select the radio button */
/* Uses the pseudo-content trick: https://inclusive-components.design/cards/ */
.fulfillment-form .list-group-item {
  position: relative;

  .form-check-label::after {
    content: "";
    position: absolute;
    inset: 0;
  }

  /* Raise interactive elements above the pseudo-element overlay */
  .form-select,
  a,
  .alert {
    position: relative;
  }
}