/*
* Find homepage styles
*/

/* Homepage "more resources" lists */
.home-content dt {
  font-weight: normal;
}

.home-content dd {
  margin-bottom: 1rem;
}

.home-content dd:last-of-type {
  margin-bottom: 0;
}

.fi-home #content {
  & h1 {
    margin-top: 2rem;
  }

  & .page__lede {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  & h2 {
    margin-top: 2rem;
  }
}