/*
* Find login page styles
*/

.login__container {
  margin-bottom: 2rem;
}

.login__options {
  margin: 1.5rem 0;
}

@media (max-width: 620px) {
  .login__options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.login__options > span {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 600;
  padding: 1rem;
}

@media (max-width: 620px) {
  .login__options > span {
    display: none;
  }
}

.login__options > form.button_to {
  display: inline-flex;
}

.courtesy-borrower {
  max-width: 32rem;;
}
