.login__container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.login__options {
  margin: 1.5rem 0;

  @media (max-width: 620px) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.login__options > span {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 600;
  padding: 1rem;

  @media (max-width: 620px) {
    display: none;
  }
}

.login__options > form.button_to {
  display: inline-flex;
}

.login__help-link {

}