/*
* Find MARC view (staff view) styles
*/

.marc_view {
  font-family: var(--bs-font-monospace);
}

.marc_view .field {
  align-items: flex-start;
  border-bottom: 1px solid var(--bs-secondary-color);
  display: flex;
  gap: 2em;
}

.marc_view .ind1,
.marc_view .ind2 {
  display: inline;
  padding: 0 0.5rem;
}

.marc_view .tag_ind {
  flex-shrink: 0;
}
