services:
  chrome:
    image: "ghcr.io/browserless/chromium:v2.38.4"
    ports:
      - "3333:3333"
    volumes:
      - ./tmp/capybara:/screenshots
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      PORT: 3333
      CONCURRENT: 1
      TIMEOUT: 1200000 # 20min should cover the system test run period
  postgres:
    image: postgres:15.15
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
  solrcloud:
    image: solr:9.3
    ports:
      - "8983:8983"
    volumes:
      - solrcloud_data:/var/solr
    entrypoint:
      - docker-entrypoint.sh
      - solr
      - start
      - -c
      - -f

volumes:
  db_data:
  solrcloud_data:
