<p>
The <a href="https://pennartcollection.com/">Penn Art Collection</a> includes more than 9,000 artworks found indoors and outdoors on <a href="https://facilities.upenn.edu/maps">Penn's campuses</a>. Not all works are on public display. You can find many of them via Penn's <a href="https://pennartcollection.com/about/bloomberg-connects/">Bloomberg Connects Digital Guide</a>, or our <a href="https://pennartcollection.com/exhibitions/campus-sculpture-tour/">campus sculpture tour</a>. 
</p>

<p>
For more information on other works, or to arrange access to a work not currently on display, <a href="https://pennartcollection.com/about/contact-us/">contact the Office of the Curator</a>.
</p>

