<p>
The physical collections of the Penn Libraries can be accessed <a href="https://www.library.upenn.edu/about/hours">while our libraries are open</a>. Our <a href="https://www.library.upenn.edu/spaces/access-and-visitor-information">Access and Visitor Information</a> includes information on access available to researchers associated with the University of Pennsylvania as well as to other visitors. 
</p>
<p>
Special arrangements may be needed to <a href="https://www.library.upenn.edu/services/access-special-collections">access items in our special collections</a>, to <a href="https://www.library.upenn.edu/libra">retrieve items from LIBRA</a> (our high-density storage facility), and to <a href="https://guides.library.upenn.edu/resourcesharing">request other items not available for immediate on-site access</a>.
</p>

