<p>
  <a href="https://penn.museum/">Penn Museum</a> items <a href="https://penn.museum/on-view/galleries-exhibitions">on display</a> can be viewed <a href="https://penn.museum/visit/getting-here">at the Museum</a> when <a href="https://penn.museum/visit/plan-your-visit">the Museum is open</a>. Admission is free to Penn faculty, staff and students with Penncards, as well as to Penn Museum members.
</p>

<p>
  Researchers can also <a href="https://penn.museum/about-collections/access-the-collections">arrange in advance to examine items not currently on display</a>. Many items on and off display have one or more digital images that can be viewed from the Museum's <a href="https://www.penn.museum/collections/">Online Collections search</a>.
</p>

