<search class="navbar-search pt-1">
  <%#= form_with url: discover_discover_search_results_path, local: true, method: 'get', role: 'search', class: 'search-query-form' do |f| %>
  <%= form_with url: '#', method: 'get', role: 'search', class: 'search-query-form' do |f| %>
    <div class="input-group">
      <%= f.search_field :q || params[:q], value: params[:q], class: "search-q q form-control rounded-left", aria: { label: 'search for' } %>
      <%= f.submit 'Search', class: 'btn btn-primary search-btn' %>
    </div>
  <% end %>
</search>