<h2>Discover Penn</h2>

<p>Here are four card components with titles, and within the cards, up to three result elements with optional
  thumbnails, title links and other metadata. In the top left of each card is a link to see the full set of results.
  This button may not function the same for Museum and Art cards, as it is not clear how we could link to a 'full' set
  of results.</p>

<%= link_to 'About', discover_about_path %>