<div class="discover-penn">
  <h1 class="page-header">Discover Penn</h1>

  <p>Here are four card components with titles, and within the cards, up to three result elements with optional thumbnails, title links and other metadata. In the top right of each card is a link to see the full set of results. This button may not function the same for Museum and Art cards, as it is not clear how we could link to a 'full' set of results.</p>

  <%= link_to 'About', discover_about_path %>

  <div class="row mt-5 g-5">

    <div class="col-12 col-lg-6 mt-0">

      <div class="card mb-5">
        <div class="card-body">

          <div class="d-flex flex-wrap align-items-start justify-content-between mb-2">
            <div class="d-flex align-items-center">
              <i class="card-icon bi bi-book h3 me-2"></i>
              <h2 class="card-title h4">Libraries</h2>
            </div>
            <a class="btn btn-sm btn-primary text-nowrap" href="#">View all 22,194 results</a>
          </div>

          <ul class="list-group list-group-flush documents-list">
            <li class="list-group-item px-2 py-3">
              <h3 class="item-heading h5">
                <a href="#">Military equitation, or, A method of breaking horses, and teaching soldiers to ride : designed for the use of the army</a>
              </h3>
              <div class="item-content row mt-3">
                <dl class="document-metadata col d-flex flex-column row-gap-2">
                  <dt>Format:</dt>
                  <dd>Book</dd>

                  <dt>Author/Creator:</dt>
                  <dd>Pembroke, Henry Herbert, Earl of, 1734-1794.</dd>

                  <dt>Publication:</dt>
                  <dd>Sarum : printed and sold by E. Easton: sold also by J. Dodsley, Pall-Mall, and J. Wilkie, St. Paul's Church-Yard, London, M.DCC.LXXVIII. [1778]</dd>

                  <dt>Repository:</dt>
                  <dd class="item-repo">Kislak Center for Special Collections, Rare Books and Manuscripts</dd>
                </dl>

                <img src="https://iiif-images.library.upenn.edu/iiif/2/fbc57f73-99c6-4ef5-b958-8986b774bfea%2Faccess/full/!200,200/0/default.jpg" class="item-thumbnail col-4 object-fit-cover"/>
              </div>
            </li>
            <li class="list-group-item px-2 py-3">
              <h3 class="item-heading h5">
                <a href="#">Haney's horse shoers' manual : a practical guide to horse shoeing in its different varieties : including preparation of the foot, choice and preparation of shoes, fitting, filing, nailing, etc. : derived from"Mills' Treatise on horse shoeing" : to which is added Youatt's Treatise on the diseases of the horse's foot.</a>
              </h3>
              <div class="item-content row mt-3">
                <dl class="document-metadata col d-flex flex-column row-gap-2">
                  <dt>Format:</dt>
                  <dd>Book</dd>

                  <dt>Author/Creator:</dt>
                  <dd>Jesse Haney & Co.</dd>

                  <dt>Publication:</dt>
                  <dd>New York : Jesse Haney & Co., [1869]</dd>

                  <dt>Repository:</dt>
                  <dd class="item-repo">Kislak Center for Special Collections, Rare Books and Manuscripts</dd>
                </dl>

                <img src="https://iiif-images.library.upenn.edu/iiif/2/6e8c019e-9b75-4997-8ce0-78d51d698187%2Faccess/full/!200,200/0/default.jpg" class="item-thumbnail col-4 object-fit-cover"/>
              </div>
            </li>
            <li class="list-group-item px-2 pt-3">
              <h3 class="item-heading h5">
                <a href="#">Le nouveau Newkastle, ou, Nouveau traité de cavalerie.</a>
              </h3>
              <div class="item-content row mt-3">
                <dl class="document-metadata col d-flex flex-column row-gap-2">
                  <dt>Format:</dt>
                  <dd>Book</dd>

                  <dt>Author/Creator:</dt>
                  <dd>Bourgelat, Claude, 1712-1779.</dd>

                  <dt>Publication:</dt>
                  <dd>A Lyon : Chez Joseph-Sulpice Grabit, libraire ..., 1771.</dd>

                  <dt>Repository:</dt>
                  <dd class="item-repo">Kislak Center for Special Collections, Rare Books and Manuscripts</dd>
                </dl>

                <img src="https://iiif-images.library.upenn.edu/iiif/2/66dae086-ae27-4f62-891a-55e394c7f9d7%2Faccess/full/!200,200/0/default.jpg" class="item-thumbnail col-4 object-fit-cover"/>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="card mb-5 mb-md-0">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between mb-2">
            <div class="d-flex align-items-center">
              <i class="card-icon bi bi-archive h3 me-2"></i>
              <h2 class="card-title h4">Archives</h2>
            </div>
            <a class="btn btn-sm btn-primary text-nowrap" href="#">View all 455 results</a>
          </div>
          <ul class="list-group list-group-flush documents-list">
            <li class="list-group-item px-2 py-3">
              <h3 class="item-heading h5">
                <a href="#">Edward S. Curtis collection of interpositive glass plates and papers</a>
              </h3>
              <div class="item-content row mt-3">
                <dl class="document-metadata col d-flex flex-column row-gap-2">
                  <dt>Extent:</dt>
                  <dd>22 linear feet (44 boxes (2 boxes currently available to researchers))</dd>

                  <dt>Summary:</dt>
                  <dd class="item-description">Edward S. Curtis (1868-1952) was a photographer, best known for documenting more than eighty tribes of Native Americans west of the Mississippi from the Mexican border to northern Alaska. In addition to taking more than 40,000 pictures over 30 years, Curtis produced The North American Indian, a set of twenty volumes containing text, photogravures, and a corresponding portfolio with additional photogravures. This collection consists of two gifts of glass plate interpositives with extensive artistic modifications by Edward Curtis for his The North American Indian as well as a small number of proof sheets of photogravures, largely from portfolios, bearing editorial markings and corrections; correspondence and material relating to the funding and publishing of the The North American Indian; and brochures and pamphlets advertising Curtis's studio and his photography.</dd>

                  <dt>Repository:</dt>
                  <dd class="item-repo">Kislak Center for Special Collections, Rare Books and Manuscripts</dd>
                </dl>
              </div>
            </li>
            <li class="list-group-item px-2 py-3">
              <h3 class="item-heading h5">
                <a href="#">Stables: High Design for Horse and Home</a>
              </h3>
              <div class="item-content row mt-3">
                <dl class="document-metadata col d-flex flex-column row-gap-2">
                  <dt><Author></Author>:</dt>
                  <dd>Oscar Riera Ojeda and Victor Deupi</dd>

                  <dt>Publication:</dt>
                  <dd>New York: Rizzoli, 2021</dd>

                  <dt>Summary:</dt>
                  <dd class="item-description">Stables is a celebration of horses and their extraordinary “lodgings.” International in scope, ranging from traditional to contemporary in flavor, twenty-five featured stables—built in wood, metal, and stone—are exemplars of the finest taste in design. There is a beauty here that reflects the majesty of these animals, the distinctive landscapes in which they are set, and the creative visions of the owners, architects, and designers who have all brought them into being. The allure of housing horses is a story of architecture, design, landscape, and a unique way of living in magnificent places—and spaces—that are made exclusively for horses and for those who love them.</dd>

                  <dt>Repository:</dt>
                  <dd class="item-repo">Architectural Archives</dd>
                </dl>
              </div>
            </li>
            <li class="list-group-item px-2 pt-3">
              <h3 class="item-heading h5">
                <a href="#">Eadweard Muybridge Collection, 1870-1981 (inclusive)</a>
              </h3>
              <div class="item-content row mt-3">
                <dl class="document-metadata col d-flex flex-column row-gap-2">
                  <dt>Extent:</dt>
                  <dd>20 cubic feet</dd>

                  <dt>Summary:</dt>
                  <dd class="item-description">Eadweard Muybridge is a noted photographer who began his studies of animal locomotion in 1872 while trying to settle a bet for railroad tycoon Leland Stanford. In 1883 several important Philadelphians attended a meeting in the office of the provost of the University of Pennsylvania, and decided to provide Muybridge with the grounds of the Veterinary Hospital and a $5,000 advance to begin work on the landmark study, Animal Locomotion. This study, completed in 1887 and published under the sponsorship of the University, would prove to be of great use to artists, anatomists, physiologists, and athletes. The Eadweard Muybridge Collection documents his photographic career and the contributions he made to motion pictures. Documentation relating Muybridge's Animal Locomotion study, done under the auspices of the University of Pennsylvania, represents the bulk of this collection.</dd>

                  <dt>Repository:</dt>
                  <dd class="item-repo">University Archives & Records Center</dd>
                </dl>

                <!--                <img src="https://iiif-images.library.upenn.edu/iiif/2/fbc57f73-99c6-4ef5-b958-8986b774bfea%2Faccess/full/!200,200/0/default.jpg" class="item-thumbnail col-3 object-fit-cover"/>-->
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 mt-0">
      <div class="card mb-5">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between mb-2">
            <div class="d-flex align-items-center">
              <i class="card-icon find-icon find-icon--h3 find-icon-museum mb-2 me-2"></i>
              <h2 class="card-title h4">Penn Museum</h2>
            </div>
            <a class="btn btn-sm btn-primary text-nowrap" href="#">View all 1,600 results</a>
          </div>
          <ul class="list-group list-group-flush documents-list">
            <li class="list-group-item px-2 py-3">
              <h3 class="item-heading h5">
                <a href="#">Item 1</a>
              </h3>
              <div class="item-content row mt-3">
                <p class="col">Item content</p>

                <!--                <img src="https://iiif-images.library.upenn.edu/iiif/2/fbc57f73-99c6-4ef5-b958-8986b774bfea%2Faccess/full/!200,200/0/default.jpg" class="item-thumbnail col-3 object-fit-cover"/>-->
              </div>
            </li>
            <li class="list-group-item px-2 py-3">
              <h3 class="item-heading h5">
                <a href="#">Item 2</a>
              </h3>
              <div class="item-content row mt-3">
                <p class="col">Item content</p>

                <!--                <img src="https://iiif-images.library.upenn.edu/iiif/2/fbc57f73-99c6-4ef5-b958-8986b774bfea%2Faccess/full/!200,200/0/default.jpg" class="item-thumbnail col-3 object-fit-cover"/>-->
              </div>
            </li>
            <li class="list-group-item px-2 pt-3">
              <h3 class="item-heading h5">
                <a href="#">Item 3</a>
              </h3>
              <div class="item-content row mt-3">
                <p class="col">Item content</p>

                <!--                <img src="https://iiif-images.library.upenn.edu/iiif/2/fbc57f73-99c6-4ef5-b958-8986b774bfea%2Faccess/full/!200,200/0/default.jpg" class="item-thumbnail col-3 object-fit-cover"/>-->
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="card mb-5 mb-md-0">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between mb-2">
            <div class="d-flex align-items-center">
              <i class="card-icon bi bi-brush h4 me-2"></i>
              <h2 class="card-title h4">Penn Art Collection</h2>
            </div>
            <a class="btn btn-sm btn-primary text-nowrap" href="#">View all 25 results</a>
          </div>
          <ul class="list-group list-group-flush documents-list">
            <li class="list-group-item px-2 py-3">
              <h3 class="item-heading h5">
                <a href="#">Item 1</a>
              </h3>
              <div class="item-content row mt-3">
                <p class="col">Item content</p>

<!--                <img src="https://iiif-images.library.upenn.edu/iiif/2/fbc57f73-99c6-4ef5-b958-8986b774bfea%2Faccess/full/!200,200/0/default.jpg" class="item-thumbnail col-3 object-fit-cover"/>-->
              </div>
            </li>
            <li class="list-group-item px-2 py-3">
              <h3 class="item-heading h5">
                <a href="#">Item 2</a>
              </h3>
              <div class="item-content row mt-3">
                <p class="col">Item content</p>

<!--                <img src="https://iiif-images.library.upenn.edu/iiif/2/fbc57f73-99c6-4ef5-b958-8986b774bfea%2Faccess/full/!200,200/0/default.jpg" class="item-thumbnail col-3 object-fit-cover"/>-->
              </div>
            </li>
            <li class="list-group-item px-2 pt-3">
              <h3 class="item-heading h5">
                <a href="#">Item 3</a>
              </h3>
              <div class="item-content row mt-3">
                <p class="col">Item content</p>

<!--                <img src="https://iiif-images.library.upenn.edu/iiif/2/fbc57f73-99c6-4ef5-b958-8986b774bfea%2Faccess/full/!200,200/0/default.jpg" class="item-thumbnail col-3 object-fit-cover"/>-->
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- row -->
</div> <!-- container -->