<%# Copied template from Blacklight v8.3.0 to customize layout %>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group me-2">
    <%= render bookmark_action.component.new(document: @document, action: bookmark_action) %>
  </div>
  <div class="btn-group" role="group">
    <button id="document-tools-dropdown" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t('blacklight.tools.title') %>
    </button>
    <div class="dropdown-menu" aria-labelledby="document-tools-dropdown">
      <% other_actions.each do |action| %>
        <%= render Blacklight::Document::ActionComponent.new(document: @document, action: action, url_opts: Blacklight::Parameters.sanitize(params.to_unsafe_h), link_classes: 'dropdown-item') %>
      <% end %>
    </div>
  </div>
</div>