<footer class="site-footer">
  <div class="site-footer__inner-container container">

    <%= logo %>

    <% if links? %>
      <div class="site-footer__links">
        <%= safe_join links %>
      </div>
    <% end %>

  </div>
</footer>