<div class="container">
  <h1><%= t('discover.tagline') %></h1>
  <p>Penn Collects provides access to unique collections all around Penn—items of cultural, historic, institutional, or
     personal significance that have been preserved for the benefit of future scholars.</p>
  <p>Searchable collections currently include the Penn Museum, portions of the University Art Collection, Penn Libraries’
     Special Collections, and a number of archival collections across Penn, including the University Archives.</p>
  <p>Start your search here, then click through to the item’s home to learn more about how to access it online or
     in-person.</p>
</div>
