<div class="search">
  <search class="container">
    <%= form_with url: discover_path,
                  method: 'get',
                  role: 'search',
                  class: 'search-form' do |f| %>
      <div class="input-group">
        <%= f.hidden_field :no_pse, value: no_pse? %>
        <%= f.search_field :q,
                           value: params[:q],
                           title: t('discover.search_bar_title'),
                           required: true,
                           pattern: '\S+',
                           class: "search-form__input form-control rounded-left",
                           aria: { label: t('discover.search.button.aria_label') } %>

        <%= f.submit t('discover.search.button.label'), class: 'btn btn-primary search-btn' %>
      </div>
    <% end %>
  </search>
</div>