<%= turbo_frame_tag 'hathi_frame' do %>
  <a href="<%= link %>" class="inventory-item inventory-item--hathitrust link-prevent-default" target="_blank">
    <span class="inventory-item__header">More viewability at</span>
    <span class="inventory-item__main">HathiTrust Digital Library</span>
  </a>
<% end %>