<div class='card card-default'>
  <div class="card-body">
    <h2 class="h4 card-title">Search tips</h2>
    <%= link_to t('home.help.self_service.use_catalog'), t('urls.guides.use_catalog'), target: '_blank' %>
  </div>
</div>