<%# Copied template from Blacklight v9.0 to add our own help content %>

<h2 class="pl-h2">Search tips</h2>
<p><%= link_to t('guides.use_catalog'), t('urls.guides.use_catalog'), target: '_blank' %></p>