<%# Copied template from Blacklight v8.3.0 to add in our "document bar" that includes the show tools, bookmark button
    and removes the setting of "sidebar" content (which used to render the show tools) %>

<div class="pagination-bar">
  <div class="pagination-bar__previous-and-next">
    <span><%= render blacklight_config.track_search_session.applied_params_component.new if blacklight_config.track_search_session.applied_params_component %></span>
    <%= render blacklight_config.track_search_session.item_pagination_component.new(search_context: @search_context, search_session: search_session, current_document: @document) if blacklight_config.track_search_session.item_pagination_component %>
  </div>
  <div class="btn-group" role="group">
    <%= render blacklight_config.show.show_tools_component.new(document: @document) %>
  </div>
</div>

<%= render 'show_main_content' %>
