<p class="inventory-item__availability--easy inventory-item__availability-summary">
  <span class="inventory-item__main"><%= entry.description %></span>
  <span class="inventory-item__policy"><%= entry.status %></span>
</p>

<%= render Inventory::Full::Entry::OnlineCtaComponent.new(href: entry.href) %>

<% if entry.public_note %>
  <p class="inventory-item__notes"><%= entry.public_note %></p>
<% end %>
