<p class="inventory-item__availability--easy inventory-item__availability-summary">
  <span class="inventory-item__main"><%= entry.description %></span>
</p>
<%= render Inventory::Full::Entry::OnlineCtaComponent.new(href: entry.href) %>
