<div class="documents-list <%= @classes %>">
  <div class='callout callout--success'>
    <% results_sources.each_with_index do |component, i| %>
      <% source = component.source %>
      <% if valid?(source) %>
        <div class="<%= i > 0 ? 'border-top' : '' %>">
          <%= turbo_frame_tag turbo_id(source),
                              src: results_path(source: source, query: @query),
                              data: { controller: 'missing-frame',
                                      missing_frame_error_value: t('additional_results.missing_frame',
                                                                   source: source) } do %>
            <h2 class="pl-h3 mb-0">
              <%= t('additional_results.header_text.loading_html', source: display_name(source)) %>
            </h2>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
