solr_url: <%= DockerSecrets.lookup(:solr_url, ENV['SOLR_URL']) %>
app_host: 'find.library.upenn.edu'
additional_results_sources:
  position: 1
  summon:
    access_id: 'upenn'
    base_url: 'upenn.summon.serialssolutions.com'
    api_key: <%= DockerSecrets.lookup(:summon_api_key, Rails.application.credentials.summon_api_key) %>
google_analytics:
  id: 'GTM-KMLQ6V6W'
honeybadger:
  api_key: <%= DockerSecrets.lookup(:honeybadger_api_key) %>
suggester:
  enabled: false
