<%# Copied template from Blacklight v9.0 to add display of vernacular title field %>

<h1 class="record-title h2">
  <span itemprop="name"><%= @document.detailed_title %></span>
  <% if @document.alternate_title.present? %>
    <br>
    <span class="record-alternate-title"><%= @document.alternate_title %></span>
  <% end %>
</h1>
