<%= render(@layout.new(field: @field)) do |component| %>
  <% component.with_label do %>
    <%= label %>
  <% end %>
  <% component.with_value do %>
    <ul>
      <% limited_field_values.each do |show_value| %>
      <li><%= link_to_facet(show_value) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
