<!-- Copied template from Blacklight v8.12.2 to additionally render show tools component -->
<div class="pagination-bar">
  <div class="pagination-bar__previous-and-next">
    <span><%= render applied_params_component %></span>
    <%= render pagination_component %>
  </div>
  <div class="btn-group" role="group">
    <%= render_header_tools %>
  </div>
</div>