<%# Overrides component from Blacklight 9.0.0 to update styles and html elements %>
<div class="navbar-search">
  <%= tag.div class: 'pl-viewport-margins', role: 'navigation', aria: { label: t('blacklight.search.header') } do %>
    <%= search_bar %>
  <% end %>
</div>
