<%# Copied template from Blacklight v8.3.0@5a779c5a9 to customize layout and CSS class names %>

<span>
  <%= link_to_previous_document classes: 'btn btn-light' %>
  <span><%= item_page_entry_info %></span>
  <%= link_to_next_document classes: 'btn btn-light' %>
</span>
