<h1 class="page__heading">Request an item</h1>
<p class="page__lede">Describe an article, book, chapter, or other item — whether or not it's in our collection — and we'll get it delivered to you.</p>

<h2 class="h4 mt-3">What's the item you are requesting?</h2>

<nav role="tablist" id="ill-tab" role="tablist" class="nav-pills mb-3 interlibrary-loan__scan-or-loanable">
  <button class="btn btn-outline-dark" id="ill-pills-0" role="tab" data-bs-toggle="pill" data-bs-target="#ill-0" aria-controls="ill-0" id="ill-0-tab">
    Article or chapter
  </button>
  <button class="btn btn-outline-dark" id="ill-pills-1" role="tab" data-bs-toggle="pill" data-bs-target="#ill-1" aria-controls="ill-1">
    Book or other item
  </button>
</nav>

<div class="tab-content interlibary-loan__forms" id="ill-tabContent">
  <div class="tab-pane fade show" id="ill-0" role="tabpanel" aria-labelledby="ill-0-tab" tabindex="0">
    <form>
      <div class="row">
        <div class="col-md-7">
          <div class="form-group mt-2 form-group--error">
            <label for="journal">
              Journal or book title <small class="text-muted">(required)</small>
              <p class="form-group__error-text">Enter a journal or book title</p>
            </label>
            <input type="text" class="form-control mt-1" id="journal" required>
          </div>
          <div class="form-group mt-3">
            <label for="article">Article or chapter title <small class="text-muted">(required)</small></label>
            <input type="text" class="form-control mt-1" id="article" required>
          </div>
          <div class="form-group mt-3 form-group--error">
            <label for="article-author">
              Author <small class="text-muted">(required)</small>
              <p class="form-group__error-text">Enter an author</p>
            </label>
            <input type="text" class="form-control mt-1" id="article-author">
          </div>
          <div class="form-group mt-3">
            <label for="rftdate">Publication date <small class="text-muted">(required)</small></label>
            <input type="text" class="form-control mt-1" id="rftdate" required>
          </div>
          <div class="form-group mt-3">
            <label for="comments">Comments<br><small id="comments-help" class="form-text text-muted">Optionally describe the item further to help us find it.</small></label>
            <textarea type="text" class="form-control mt-1" id="comments" aria-describedby="comments-help" rows="4"></textarea>
          </div>

          <details class="mt-3">
            <summary class="interlibary-loan__optional-fields-summary">Volume, issue, and pages <small class="text-muted">(optional)</small></summary>
            <div class="form-group mt-2">
              <label for="volume">Volume</label>
              <input type="text" class="form-control mt-1" id="volume">
            </div>
            <div class="form-group mt-3">
              <label for="issue">Issue</label>
              <input type="text" class="form-control mt-1" id="issue">
            </div>
            <div class="form-group mt-3">
              <label for="pages">Pages</label>
              <input type="text" class="form-control mt-1" id="pages">
            </div>
          </details>

          <p class="mt-4 mb-1">Articles and chapters are delivered electronically as a PDF and are often ready in 2-3 buisness days.</p>

          <p>We'll send you an email notification when it is ready.</p>

          <button class="btn btn-success btn-lg">Place request</button>
        </div>
      </div>
    </form>
  </div>
  <div class="tab-pane fade" id="ill-1" role="tabpanel" aria-labelledby="ill-1-tab" tabindex="0">
    <form>
      <div class="row">
        <div class="col-md-7">
          <div class="form-group mt-2">
            <label for="title">Title <small class="text-muted">(required)</small></label>
            <input type="text" class="form-control mt-1" id="title" required>
          </div>
          <div class="form-group mt-3">
            <label for="author">Author <small class="text-muted">(required)</small></label>
            <input type="text" class="form-control mt-1" id="author">
          </div>
          <div class="form-group mt-3">
            <label for="year">Year of publication <small class="text-muted">(required)</small></label>
            <input type="text" class="form-control mt-1" id="year" required>
          </div>
          <div class="form-group mt-3">
            <label for="comments">Comments<br><small id="comments-help" class="form-text text-muted">Optionally describe the item further to help us find it.</small></label>
            <textarea type="text" class="form-control mt-1" id="comments" aria-describedby="comments-help" rows="4"></textarea>
            
          </div>
          <details class="mt-3">
            <summary class="interlibary-loan__optional-fields-summary">Edition, publisher, place of publication, and ISBN <small class="text-muted">(optional)</small></summary>
            <div class="form-group mt-2">
              <label for="edition">Edition</label>
              <input type="text" class="form-control mt-1" id="edition">
            </div>
            <div class="form-group mt-3">
              <label for="publisher">Publisher</label>
              <input type="text" class="form-control mt-1" id="publisher">
            </div>
            <div class="form-group mt-3">
              <label for="place">Place of publication</label>
              <input type="text" class="form-control mt-1" id="place">
            </div>
            <div class="form-group mt-3">
              <label for="isbn">ISBN</label>
              <input type="text" class="form-control mt-1" id="isbn">
            </div>
          </details>

           <fieldset>
            <legend class="h4 mt-4">How would you like this item delivered?</legend>
            <p>Books or other items are available for <a href="https://guides.library.upenn.edu/circulation/PickUpatPenn">pick up</a> or <a href="https://guides.library.upenn.edu/circulation/vpbooksbymail">mail delivery</a>.</p>
            <div class="form-check mt-3">
              <input class="form-check-input" type="radio" name="delivery" id="delivery-pickup" value="delivery-pickup">
              <label class="form-check-label" for="delivery-pickup">
                Pick up
              </label>

              <div class="input-group mb-2 mt-1">
                <select name="pickup_location" id="pickup_location" label="Location" class="custom-select p-2 rounded" required="required">
                  <option value="">Pick up location</option>
                  <option value="Van Pelt Library">Van Pelt Library</option>
                  <option value="Lockers at Van Pelt">Lockers at Van Pelt Library</option>
                  <option value="Annenberg Library">Annenberg Library</option>
                  <option value="Biotech Commons">Holman Biotech Commons</option>
                  <option value="Chemistry Library">Chemistry Library</option>
                  <option value="Dental Library">Dental Medicine Library</option>
                  <option value="Lockers at Dental">Lockers at Dental Medicine Library</option>
                  <option value="Fine Arts Library">Fisher Fine Arts Library</option>
                  <option value="Katz Library">Library at the Katz Center</option>
                  <option value="Math/Physics/Astronomy Library">Math/Physics/Astronomy Library</option>
                  <option value="Museum Library">Museum Library</option>
                  <option value="New Bolton Center">New Bolton Center</option>
                  <option value="PA Hospital Library">Pennsylvania Hospital Library</option>
                  <option value="Veterinary Library">Veterinary Medicine Library</option>
                </select>
              </div>
            </div>
            <div class="form-check mt-3">
              <input class="form-check-input" type="radio" name="delivery" id="delivery-mail" value="delivery-mail" checked>
              <label class="form-check-label" for="delivery-mail">Mail <br>
              <small id="delivery-mail-help" class="form-text text-muted">For those registered with <a href="https://upenn.libwizard.com/f/books-by-mail">Books by Mail</a> at no charge to you.</small></label>
            </div>
          </fieldset>

          <p class="mt-4 mb-1">Processing time can vary widely depending on the nature and availability of the item.</p>
          <p>We'll send you an email notification when it is ready.</p>

          <button class="btn btn-success btn-lg">Place request</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--
https://franklin.library.upenn.edu/forms/resourcesharing
https://franklin.library.upenn.edu/forms/ill?requesttype=book 
-->