// Global
.discover-penn {
  display: flex;
  flex-direction: column;
  font-family: $font-sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  min-height: 100vh;
}

.container-fluid {
  padding: 0;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1em;
}

a:not(.btn, .page-link, .link-prevent-default) {
  color: $link-color;
  text-decoration: underline;
  text-underline-offset: $link-underline-offset;
  text-decoration-thickness: $link-text-decoration-thickness;
}

a:not(.btn, .page-link, .link-prevent-default):hover {
  text-decoration-thickness: $link-heavy-text-decoration-thickness;
}

.page-lede {
  font-size: 1.2rem;
  margin-bottom: 0;
  max-width: 52ch;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}

// Skip links {
.skip-links a {
  display: inline-flex;
  padding: 0.5rem;
  margin: 0.25rem;
}

// Site header
.site-header {

  &__inner-container {
    display: flex;
    align-items: center;
    gap: 1rem 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: relative;
  }

  &__logo {
    height: 56px;
  }

  a {
    color: $header-link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-underline-offset: $link-underline-offset;
      text-decoration-thickness: $link-text-decoration-thickness;
    }
  }
}

// Search
.search {
  background: $bg-gradient;
  margin-bottom: 2rem;
  padding: 1.5rem 0 1.5rem;

  .search-form {
    box-shadow: rgba(140, 149, 159, 0.2) 0 3px 6px 0;
    flex-grow: 1;

    @media (min-width: $breakpoint-md) {
      max-width: 80%;
    }

    *:focus {
      box-shadow: 0 0 0 2px $orange-light, 0 0 0 4px $primary;
      z-index: 5;
    }

    input {
      @media (min-width: $breakpoint-xl) {
        font-size: 1.125rem;
      }
    }

    &__input {
      border: solid 1px $secondary;
      border-right: 0;
    }

    .search-btn {
      padding: 0.5rem 1.5rem;
    }
  }
}

main {
  flex: 1;
  padding: 2rem 0;

  // Results
  .results {
    &-nav {
      margin-bottom: 2rem;

      .search-term {
        font-weight: 700;
        letter-spacing: .02rem;
      }

      .nav-item {
        display: inline-flex;
        align-items: center;
        margin: 0;
        padding: 0.5rem 2rem 0.25rem 0;
      }

      .nav-link {
        padding: 0 0.4rem 0 0;
      }

      .results-count {
        color: $secondary;
      }
    }

    .card {
      margin-bottom: $main-grid-spacing;
      scroll-margin-top: 2rem;

      .card-header {
        display: flex;
        align-items: center;
        background: transparent;
        border-bottom: 0;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        padding: 1rem 1rem 0 1rem;

        .card-title {
          display: flex;
          align-items: flex-start;
          gap: 1rem;
          margin-bottom: 0;

          i {
            display: inline-flex;
            padding-top: 0.2rem;
          }
        }

        .btn {
          white-space: nowrap;
        }
      }

      .card-body {
        padding: 1rem 1rem 0 1rem;

        .results-list-item {
          padding: 1rem 0;

          &:first-child {
            padding-top: 0;
          }

          .results-list-item__heading {
            margin-bottom: 1rem;

            a {
              @include line-clamp(3);
            }
          }

          .results-list-item__content {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: space-between;

            .results-list-item__metadata {
              color: $secondary;
              flex: 1;
              margin-bottom: 0;

              dt {
                clip: rect(0 0 0 0);
                -webkit-clip-path: inset(50%);
                clip-path: inset(50%);
                height: 1px;
                overflow: hidden;
                position: absolute;
                white-space: nowrap;
                width: 1px;
              }

              dd {
                margin-bottom: 0.5rem;

                &:last-child {
                  margin-bottom: 0;
                }
              }

              dd.results-list-item__description {
                @include line-clamp(3);
              }

              dd.results-list-item__description p {
                margin-bottom: 0;
              }

              dd.results-list-item__location {
                font-weight: 600;
              }
            }
          }

          .results-list-item__thumbnail {
            height: 7rem;
            width: 7rem;
            margin-top: 0.25rem;
            object-fit: cover;

            @media (min-width: $breakpoint-sm) {
              height: 9rem;
              width: 9rem;
            }
          }
        }
      }
    }
  }
}

// Site footer
.site-footer {
  background: $penn-blue;
  color: $light;
  font-size: $font-size-sm;
  padding: 0.5rem 1rem;

  .site-footer__inner-container {
    display: flex;
    gap: 1rem 4rem;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-top: 1rem;

    a {
      color: $light;
      text-decoration: 0;

      &:hover {
        text-decoration: underline;
        text-underline-offset: $link-underline-offset;
        text-decoration-thickness: $link-text-decoration-thickness;
      }
    }

    @media (min-width: $breakpoint-sm) {
      flex-direction: row;
      flex-wrap: wrap;

      a {
        // Don't need text to wrap if row is wrapping
        white-space: nowrap;
      }
    }
  }

  a {
    color: $light;
    text-decoration: 0;

    &:hover {
      text-decoration: underline;
      text-underline-offset: $link-underline-offset;
      text-decoration-thickness: $link-text-decoration-thickness;
    }
  }
}