---
catalog_find_build_docker_image: false
catalog_find_image_name: "gitlab.library.upenn.edu/dld/catalog/find"
catalog_find_image_tag: "{{ image_tag }}"
catalog_find_port: 3000
catalog_find_rails_env: "production"
catalog_find_replicas: 3
catalog_find_url: "find.library.upenn.edu"
catalog_find_versioned_secrets:
  honeybadger_api_key:
    value: "{{ catalog_find_vault_values.secret.honeybadger_api_key }}"
    version: "{{ catalog_find_vault_values.metadata.version }}"
  illiad_legacy_user_password:
    value: "{{ catalog_find_vault_values.secret.illiad_legacy_user_password }}"
    version: "{{ catalog_find_vault_values.metadata.version }}"
  rails_master_key:
    value: "{{ catalog_find_vault_values.secret.rails_master_key }}"
    version: "{{ catalog_find_vault_values.metadata.version }}"
  solr_url:
    value: "http://{{ catalog_solr_vault_values.secret.username }}:{{ catalog_solr_vault_values.secret.password }}@catalog-manager-prod01.library.upenn.int/solr/catalog-production"
    version: "{{ catalog_solr_vault_values.metadata.version }}"
  alert_webhooks_token:
    value: "{{ catalog_find_vault_values.secret.alert_webhooks_token }}"
    version: "{{ catalog_find_vault_values.metadata.version }}"
  alma_api_key:
    value: "{{ catalog_find_vault_values.secret.alma_api_key }}"
    version: "{{ catalog_find_vault_values.metadata.version }}"
  illiad_api_key:
    value: "{{ catalog_find_vault_values.secret.illiad_api_key }}"
    version: "{{ catalog_find_vault_values.metadata.version }}"
  library_info_api_key:
    value: "{{ catalog_find_vault_values.secret.library_info_api_key }}"
    version: "{{ catalog_find_vault_values.metadata.version }}"
  summon_api_key:
    value: "{{ catalog_find_vault_values.secret.summon_api_key }}"
    version: "{{ catalog_find_vault_values.metadata.version }}"
  google_pse_api_key:
    value: "{{ catalog_find_vault_values.secret.google_pse_api_key }}"
    version: "{{ catalog_find_vault_values.metadata.version }}"
  aws_region:
    value: "{{ catalog_find_vault_values.secret.aws_region }}"
    version: "{{ catalog_find_vault_values.metadata.version }}"
  aws_access_key_id:
    value: "{{ catalog_find_vault_values.secret.aws_access_key_id }}"
    version: "{{ catalog_find_vault_values.metadata.version }}"
  aws_secret_access_key:
    value: "{{ catalog_find_vault_values.secret.aws_secret_access_key }}"
    version: "{{ catalog_find_vault_values.metadata.version }}"