<%= page_title t('account.shelf.page_heading') %>

<h1 class="page__heading">Shelf</h1>
<p class="page__lede mb-3">What you've borrowed or requested from the library.</p>

<%#= render(Account::ShelfComponent.new(@listing)) %>