<h1 class="search-heading">
  <span>Login</span>
</h1>
<p class="login-lede">Access your library account and Find.</p>
<div class="login-options mb-2">
  <% if Rails.env.development? %>
    <div class="btn-group" role="group" aria-label="Developer login area">
      <%= button_to 'Developer Log In', user_developer_omniauth_authorize_path, class: 'btn btn-outline-primary', data: { turbo: false } %>
    </div>
  <% end %>
  <div class="btn-group me-2" role="group" aria-label="PennKey login area">
    <%= button_to 'PennKey Log In', user_saml_omniauth_authorize_path, class: 'btn btn-primary' %>
  </div>
  <span>Or</span>
  <div class="btn-group ms-2" role="group" aria-label="Borrower login area">
    <%= button_to 'Courtesy Borrower', '', class: 'btn btn-outline-primary' %>
  </div>
</div>