<turbo-stream action="replace" target="suggestions-listbox">
  <template>
    <ol role="listbox" id="suggestions-listbox" class="suggestions-error">
      <li>There was a problem getting suggestions for your query. Try again!</li>
    </ol>
  </template>
</turbo-stream>
