<div id="unavailable-option">
  <% if user&.courtesy_borrower? %>
    <%= t('requests.form.options.none.info') %>
  <% else %>
    <%= t('requests.form.options.ill.info') %>
    <div class="request-buttons mt-3">
      <%= ill_request_link %>
    </div>
  <% end %>
</div>
