<% discover_html_title(t('discover.home.title')) %>

<div class="home-content container">

  <h1 class="page-title"><%= t('discover.home.title') %></h1>

  <div class="row">
    <div class="col-12 mt-3 mb-4">
      <p>Placeholder text</p>
    </div>
  </div>

</div>