.navbar-search {
  background: var(--color-bg-gradient-2);
  padding: 1.5rem 0;
  margin-bottom: 1rem;
}

.search-query-form {
  display: flex;
  width: 100%;
  font-size: 1.125rem;
  box-shadow: rgba(31, 35, 40, 0.04) 0px 1px 0px 0px;
}

.search-q {
  all: unset;
  background: var(--color-bg-default);
  padding: 0 1rem;
  border-radius: 0.25rem 0 0 0.25rem !important;
  color: var(--color-fg-default);
  border: solid 1px var(--color-fg-subtle);
  border-right: none;
  flex-grow: 1;
}

.search-btn {
  all: unset;
  background: var(--color-bg-accent-emphasis);
  color: var(--color-fg-on-emphasis);
  padding: 0.5rem 1.5rem;
  border-radius: 0 0.25rem 0.25rem 0;
  cursor: pointer;
  border: solid 1px var(--color-fg-subtle);
}

.index_title > a {
  color: var(--color-fg-default);
  text-decoration-color: var(--color-fg-accent);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.index_title > a:hover {
  text-decoration-thickness: 2px;
  color: var(--color-fg-accent);
}

.facet-limit-active .card-header .btn,
.facet-limit-active .card-header .btn:active {
  background: var(--color-fg-success);
  color: var(--color-fg-on-emphasis);
}

.facet-limit-active .card-header .btn:hover {
  border: none;
}

.facet-limit-active .card-header .btn {
  border: none;
}
