.navbar-search {
  background: var(--color-bg-gradient-2);
  padding: 1.5rem 0;
  margin-bottom: 0.5rem;
}

.navbar-search > .container {
  justify-content: center;
  gap: 1.5rem;
}

.navbar-search a {
  color: var(--color-fg-default);
  text-decoration: underline;
  text-underline-offset: .15em;
  text-decoration-color: var(--color-fg-subtle);
}

.navbar-search a:hover {
  text-decoration-thickness: 2px;
}

.navbar-search .search-query-form {
  display: flex;
  width: 75%;
  font-size: 1.125rem;
  box-shadow: rgba(140, 149, 159, 0.2) 0px 3px 6px 0px;
}

.search-q {
  all: unset;
  background: var(--color-bg-default);
  padding: 0 1rem;
  border-radius: 0.25rem 0 0 0.25rem !important;
  color: var(--color-fg-default);
  border: solid 1px var(--color-fg-subtle);
  border-right: none;
  flex-grow: 1;
}

.search-btn {
  all: unset;
  background: var(--color-bg-accent-emphasis);
  color: var(--color-fg-on-emphasis);
  padding: 0.5rem 1.5rem;
  border-radius: 0 0.25rem 0.25rem 0;
  cursor: pointer;
  border: solid 1px var(--color-fg-subtle);
}

.navbar-search *:focus {
  box-shadow: 0 0 0 2px var(--color-bg-attention),0 0 0 4px var(--color-fg-default);
}

.index_title > a {
  color: var(--color-fg-accent);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: .15em;
}

.index_title > a:hover {
  text-decoration-thickness: 2px;
}

.facet-limit-active .card-header .btn,
.facet-limit-active .card-header .btn:active {
  background: var(--color-fg-success);
  color: var(--color-fg-on-emphasis);
}

.facet-limit-active .card-header .btn:hover {
  border: none;
}

.facet-limit-active .card-header .btn {
  border: none;
}

.document-counter {
  font-size: 1rem;
  color: var(--color-fg-subtle);
}

.documents-list .document {
  border-bottom-style: solid;
  padding-top: 0;
  margin-bottom: 1rem;
}

.documents-list .document .document-title-heading {
  margin-bottom: 0.25rem;
}

.documents-list .document-metadata dt {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.documents-list .document-metadata dd {
  color: var(--color-fg-subtle);
}

.document-metadata.row {
  margin: 0;
  display: block;
}

.document-metadata dt {
  display: block;
  width: 100%;
  font-size: 0.875em;
  letter-spacing: 0.025em;
  font-weight: 600;
  text-align: left;
  padding: 0;
}

.document-metadata dt:not(:first-of-type) {
  padding-top: 1rem;
}

.document-metadata dd {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.document-metadata ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: "- ";
}

.documents-list .document-metadata ul {
  list-style: none;
}

.document-metadata ul ::marker {
  color: var(--color-fg-subtle);
}

pennlibs-footer {
  display: block;
  padding-top: 3rem;
}

label.toggle-bookmark {
  min-width: auto;
}