//.callout {
//  padding: 1.25rem;
//  margin-top: 1.25rem;
//  margin-bottom: 1.25rem;
//  border: 1px solid var(--bs-border-color);
//  border-left-width: 0.25rem;
//  border-radius: 0.25rem;
//  border-left-color: var(--color-fg-accent);
//}

/* icons */
.callout > .bi {
  color: var(--color-fg-accent);
  margin: 0;
}

/* remove bottom margin from callout component's last item */
.callout__content > *:last-child {
  margin-bottom: 0;
}

/* todo Move to universal link styles */
.callout a:not(.btn) {
  text-decoration: underline;
  text-underline-offset: 0.15em;

  &:hover,
  &:focus {
    text-decoration-thickness: 2px;
  }
}