.document__inventory {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.document__inventory-heading {
  padding: 0 1rem;
  padding-bottom: 0.5rem;
}

.document__inventory-list {
  display: flex;
  flex-direction: column;
}

.document__main {

}

.document__tabpanel {
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.document__tabpanel:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-bg-accent), 0 0 0 4px var(--color-fg-default);
}

.documentHeader > h1 {
  font-size: 1.75rem;
}

.show-document {
  display: block;
  width: 100%;
}

.blacklight-catalog-show .page-sidebar {
  display: none;
}

.document-inventory {
  margin-bottom: 0.5rem;
}

.document-inventory__location {
  display: block;
  color: var(--color-fg-subtle);
}

.document-inventory__description {
  display: block;
  font-size: 1.15rem;
  font-weight: 600;
}

.document-inventory-container {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.document-inventory__availability--primary {
  border-left: solid 3px var(--color-bg-success-emphasis);
  padding-left: 0.75rem;
}

.document-inventory__availability--primary .document-inventory__policy {
  color: var(--color-fg-success);
  font-weight: 600;
}

.document-inventory__policy,
.document-inventory__directions {
  display: block;
}

.document-inventory__policy {
  font-size: 1.15rem;
  line-height: 1.2;
}

.inventory-item__copies {
  font-size: 1rem;
  color: var(--color-fg-default);
  font-weight: 400;
}

.document-inventory__directions {
  font-size: 0.875rem;
  color: var(--color-fg-default);
  font-weight: 400;
}

/*
<p class="document-inventory__availability">
  <span class="document-inventory__policy">Available for checkout <span class="inventory-item__copies">1 copy</span></span>
  <span class="document-inventory__directions">On shelf</span>
</p>
*/