.document__inventory {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.document__inventory-heading {
  padding: 0 1rem 0.75rem;
}

.document__inventory-list {
  display: flex;
  flex-direction: column;
}

.document__tabpanel {
  margin-bottom: 2rem;
}

.document__tabpanel:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-bg-accent), 0 0 0 4px var(--color-fg-default);
}

.documentHeader > h1 {
  font-size: 1.75rem;
}

.show-document {
  display: block;
  width: 100%;
}

.document-inventory {
  margin-bottom: 0.5rem;
}

.document-inventory__location {
  display: block;
  color: var(--color-fg-subtle);
}

.document-inventory__description {
  display: block;
  font-size: 1.15rem;
  font-weight: 600;
}

.document-inventory-container {
  margin-top: 0.5rem;
}

.document-inventory__availability--primary {
  border-left: solid 3px var(--color-bg-success-emphasis);
  padding-left: 0.75rem;
}

.document-inventory__availability--primary .document-inventory__policy {
  color: var(--color-fg-success);
  font-weight: 600;
}

.document-inventory__policy,
.document-inventory__directions {
  display: block;
}

.document-inventory__policy {
  font-size: 1.15rem;
  line-height: 1.2;
}

.document-inventory__directions {
  color: var(--color-fg-default);
  font-weight: 400;
  font-size: 0.9rem;
}

.inventory-item__copies {
  font-size: 1rem;
  color: var(--color-fg-default);
  font-weight: 400;
}

.inventory-item {
  all: unset;
  padding: 0.75rem 1rem;
  border: solid 1px var(--color-bg-default);
  border-left: solid 3px var(--color-bg-subtle);
  font-size: 0.875rem;
}

.inventory-item:hover {
  border-left-color: var(--color-fg-accent);
}

.inventory-item.active {
  box-shadow: rgba(140, 149, 159, 0.2) 0px 3px 6px 0px;
  border: solid 1px var(--color-fg-subtle);
  border-left: solid 3px var(--color-bg-accent-emphasis);
  border-radius: 0.5rem;
}

.inventory-item.active:focus,
.inventory-item:focus {
  box-shadow: 0 0 0 2px var(--color-bg-accent), 0 0 0 4px var(--color-fg-default);
}

.inventory-item:hover .inventory-item__description {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-color: var(--color-fg-accent);
}

.inventory-item__description,
.inventory-item__location,
.inventory-item__policy {
  display: block;
}

.inventory-item--primary .inventory-item__policy {
  color: var(--color-fg-success);
}

.inventory-item__description {
  font-weight: 500;
  font-size: 1rem;
}

.inventory-item__policy {
  font-weight: 500;
}

.document-inventory__notes {
  margin-top: 1rem;
}