.document__inventory-heading {
  padding: 0 1rem 0.5rem;
  display: block;
  width: 100%;
  font-size: 1rem;
  letter-spacing: 0.025em;
  font-weight: 500;
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.document__inventory-list {
  display: flex;
  flex-direction: column;
}

.document__tabpanel {
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.document__tabpanel:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-bg-accent), 0 0 0 4px var(--color-fg-default);
}

.documentHeader > h1 {
  font-size: 1.75rem;
}

.show-document {
  display: block;
  width: 100%;
}

.document-inventory {
  margin-bottom: 0.5rem;
}

.inventory-item__header {
  display: block;
  color: var(--color-fg-subtle);
}

.inventory-item__main {
  display: block;
  font-size: 1.15rem;
  font-weight: 500;
}

.inventory-item__footer {
  color: var(--color-fg-success);
  font-weight: 600;
}

.document__inventory-list .inventory-item__main {
  font-size: 1rem;
}

.document-inventory-container {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.inventory-item__availability--primary {
  border-left: solid 3px var(--color-bg-success-emphasis);
  padding-left: 0.75rem;
}

.inventory-item__availability--primary .inventory-item__availability-main {
  color: var(--color-fg-success);
  font-weight: 600;
  font-size: 1.15rem;
}

.inventory-item__availability-main,
.inventory-item__availability-footer {
  display: block;
  line-height: 1.25;
}

.inventory-item {
  all: unset;
  padding: 0.75rem 1rem;
  border: solid 1px var(--color-bg-default);
  border-left: solid 3px var(--color-bg-subtle);
  font-size: 0.875rem;
}

.inventory-item:hover {
  border-left-color: var(--color-fg-accent);
}

.inventory-item.active {
  box-shadow: rgba(140, 149, 159, 0.2) 0px 3px 6px 0px;
  border: solid 1px var(--color-fg-subtle);
  border-left: solid 3px var(--color-bg-accent-emphasis);
  border-radius: 0.5rem;
}

.inventory-item.active:focus,
.inventory-item:focus {
  box-shadow: 0 0 0 2px var(--color-bg-accent), 0 0 0 4px var(--color-fg-default);
}

.inventory-item:hover .inventory-item__main {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-color: var(--color-fg-accent);
}
