.interlibrary-loan__scan-or-loanable {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.interlibrary-loan__scan-or-loanable > .btn {
  display: flex;
  gap: 0.5rem;
}

.interlibary-loan__optional-fields-summary {
  text-decoration: underline;
  text-underline-offset: 0.25em;
  text-decoration-color: var(--color-fg-subtle);
}

.interlibary-loan__optional-fields-summary:hover {
  text-decoration: underline;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 2px;
}

.interlibary-loan__forms a {
  text-decoration: underline;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 1px;
}

.interlibary-loan__forms a:hover {
  text-decoration-thickness: 2px;
}