.interlibrary-loan__article-fields {
  border-left: solid 2px var(--bs-border-color);
  padding-left: 1rem;
  margin-left: 0.25rem;
  padding-bottom: 0.5rem;
}

.interlibrary-loan__article-description {

}