.holdings {
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.holdings > turbo-frame {
  display: contents;
}

.holdings__other-link {
  text-decoration: none;
  text-decoration: underline;
  text-underline-offset: .15em;
}

.holdings__other-link:hover {
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-fg-subtle);
}

.holding__item {
  --holding-accent-color: var(--color-fg-subtle);
}

.holding__item--available {
  --holding-accent-color: var(--color-fg-success);
}

.holding__item--loading,
.holding__link {
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
  color: var(--color-fg-subtle);
  border-left: solid 3px var(--holding-accent-color);
  padding: 0 0.5rem;
  line-height: 1.25;
}

.holding__header {
  color: var(--holding-accent-color);
}

.holding__main {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--holding-accent-color);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: .15em;
}

.holding__link:hover .holding__main {
  text-decoration-thickness: 2px;
}

.holding__link--more {
  text-underline-offset: 1px;
}

.holding__link--more:hover {
  text-decoration: underline;
}

.inventory-item__header {
  display: block;
  color: var(--color-fg-subtle);
}

.inventory-item__main {
  display: block;
  font-size: 1.15rem;
  font-weight: 500;
}

.inventory-item__sub-main {
  display: block;
}

.inventory-item .inventory-item__sub-main {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.inventory-item__footer {
  color: var(--color-fg-success);
  font-weight: 600;
}

.document__inventory-list .inventory-item__main {
  font-size: 1rem;
}

.document-inventory-container {
  margin-top: 1rem;
  margin-bottom: 1.75rem;
}

.inventory-item__availability--primary {
  border-left: solid 3px var(--color-bg-success-emphasis);
  padding-left: 0.75rem;
}

.inventory-item__availability--primary .inventory-item__availability-main {
  color: var(--color-fg-success);
  font-weight: 600;
  font-size: 1.15rem;
}

.inventory-item__availability-main,
.inventory-item__availability-footer {
  display: block;
  line-height: 1.25;
}

.inventory-item {
  all: unset;
  padding: 0.75rem 1rem;
  border: solid 1px transparent;
  border-bottom-color: var(--bs-border-color);
  border-right-color: var(--bs-border-color);
  border-left: solid 3px var(--bs-border-color);
  font-size: 0.875rem;
  background: var(--color-bg-subtle);
}

.inventory-item:hover,
.inventory-item:focus {
  border-left-color: var(--color-fg-accent);
}

.inventory-item.active {
  box-shadow: rgba(140, 149, 159, 0.2) 0px 3px 6px 0px;
  border: solid 1px var(--color-fg-subtle);
  border-left: solid 6px var(--color-bg-accent-emphasis);
  background: var(--color-bg-default);
  padding-left: calc(1rem - 3px + .2rem);
  padding-top: 0.95rem;
  padding-bottom: 0.95rem;
  z-index: 2;
  margin: -0.2rem;
  
  @media (min-width: 992px) {
    clip-path: inset(-0.5rem 1px -0.5rem -0.5rem);
    margin-right: 0;
  }
}

.inventory-item .inventory-item__main {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: .15em;
  text-decoration-color: var(--color-fg-default);
}

.inventory-item:focus .inventory-item__main,
.inventory-item:hover .inventory-item__main {
  text-decoration-thickness: 2px;
}

.inventory-item__description {
  font-weight: 500;
  font-size: 1rem;
}

.inventory-item__status {
  display: block;
  color: var(--color-fg-success);
  font-weight: 700;
}

.inventory-item__notes {
  margin-top: 0.5rem;
  color: var(--color-fg-subtle);
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .show-document-container {
    padding: 1.5rem;
    border: solid 1px var(--color-fg-subtle);
    border-radius: 0.5rem;
    box-shadow: rgba(140, 149, 159, 0.2) 0px 3px 6px 0px;

    margin-left: calc(var(--bs-gutter-x) * -1 - 0.15rem);
    background: var(--color-bg-default);
    height: 100%;
  }
}