<a href="/" class="holding__link">
  <% case type %>
  <% when 'physical' %>
    <span class="holding__header">
      <%= status.titleize %>
    </span>
    <span class="holding__main">
      <%= [entry_format, description, location].join(' - ') %>
    </span>
  <% when 'electronic' %>
    <span class="holding__header">
      <%= status.titleize %>
    </span>
    <span class="holding__main">
      <%= [entry_format, description, location].join(' - ') %>
    </span>
  <% end %>
</a>