<div class="document-bar">
  <%= render applied_params_component %>

  <div class="document-bar__back-and-pagination">
    <%= render item_pagination_component %>
  </div>
  <div class="btn-group" role="group">
    <%= render bookmark_component %>
    <%= render actions_component %>
  </div>
</div>