<%= render(@layout.new(field: @field)) do |component| %>
  <% component.with_label do %>
    <%= label %>
  <% end %>
  <% component.with_value do %>
    <ul class="list-group">
      <% @field.values.each do |value| %>
        <li class="list-group-item">
          <%= link_to value[:link_text], value[:link_url], target: '_blank' %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
